/*Schrijf hier jouw css*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F2F3D9;
}
header {
    flex-basis: 30px;
     max-heigth: 30vh;
    text-align: center;
}

main {
    min-height: 600px;
    flex-basis: auto;
}
.group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    min-height: 400px;
}

.group-1 {
    display: flex;
    flex-direction: column;
    background-color: #C16E70;
    justify-content: flex-end;
    max-width: 280px;
    flex-basis: 350px;
    flex-grow: 0;
    flex-shrink: 1;
}

.group-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #C16E70;
    max-width: 280px;
    flex-basis: 350px;
    flex-grow: 0;
    flex-shrink: 1;
}
.group-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #C16E70;
    max-width: 280px;
    flex-basis: 350px;
    flex-grow: 0;
    flex-shrink: 1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #030027;
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
}

nav p {
    color: #F2F3D9;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: 90vw;
    column-gap: 80px;
    /*padding: 40px;*/

}
.analytica {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}