/*Schrijf hier jouw CSS*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 607px;
}

nav {
    flex-basis: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
}

div {
    flex-basis: 80vw;
}

main {
    flex-basis: auto;
}

header , footer {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

.outer-col-2 {
    display: flex;
    flex-direction: column;
}

.inner-row {
    display: flex;
    flex-direction: row;
}
.inner-col {
    display: flex;
    flex-direction: column;
}
aside {
    flex-basis: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
}
article {
    flex-basis: 10px;
    flex-grow: 1;
    flex-shrink: 1;
}